<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-white ">Produto Detalhes</h5>
<form [formGroup]="produtoForm" class="w-full" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-5">
    <label for="nome" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
    <input type="text" id="nome" class="form-control" placeholder="Nome" formControlName="nome">
    @if (produtoForm.get('nome')?.hasError('required') && produtoForm.get('nome')?.touched) {
    <div class="form-error">Nome é obrigatório</div>
    }
  </div>
  <div class="mb-5">
    <label for="valor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Valor</label>
    <input type="text" id="valor" class="form-control" placeholder="Valor" formControlName="valor">
    @if (produtoForm.get('valor')?.hasError('required') && produtoForm.get('valor')?.touched) {
    <div class="form-error">Valor é obrigatório</div>
    }
  </div>
  <div class="mb-5">
    <label for="unidadeMedida" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Unidade de Medida</label>
    <select class="form-control" id="unidadeMedida" formControlName="unidadeMedida" (change)="onChangeUnidadeMedida()">
      <option *ngFor="let unidadeMedida of unidadesMedidas" [ngValue]="unidadeMedida">
          {{unidadeMedida}}
      </option>
    </select>
  </div>
  <div class="mb-5">
    <label for="categoria" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoria</label>
    <select class="form-control" id="categoria" formControlName="categoria" (change)="onChangeCategoria()">
      <option *ngFor="let categoria of categorias" [ngValue]="categoria" [selected]="selectedCategoria">
          {{categoria.nome}}
      </option>
    </select>
  </div>

  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Salvar</button>
  <button type="button" (click)="onClose()"
    class="text-white  ms-2 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Cancelar</button>
</form>